/venv

# AWS and SSH keys
*.pem
*.pem:Zone.Identifier

# Debian packages
*.deb

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environment
.env
.venv

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/tfplan
**/tfplan.binary
**/.terraformrc
**/terraform.rc
**/*.tfvars.json
**/crash.log
**/crash.*.log
**/*.auto.tfvars